@keyframes onload {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes zoomin {
  0%{
    transform: scale(0);
    opacity: 0;
  }100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes up {
  0%{
    transform: translateY(500px);
  }
  100%{
    transform: translateY(0);
  }
}

.lime{
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none;
  position: relative;
  overflow: hidden;
  background-color: #212121;
  padding: 10px;
  border-radius: 10px;
  transform: translateX(500px);
  transition: 0.5s;
}
.lime::before{
  content: '';
  position: absolute;
  width: 70%;
  height: 5px;
  background-color: #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  border-radius: 20px;

}
.lime::after{
  content: '';
  position: absolute;
  width: 70%;
  height: 5px;
  background-color: #fff;
  bottom: 10px;
  top: 60%; 
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  border-radius: 20px;

}
.box{
  display: none;
}
.box:checked ~ .lime::before{
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%)  rotate(-45deg);
}
.box:checked ~ .lime::after{
  top: 50%;    
  left: 50%; 
  transform: translate(-50%, -50%) rotate(45deg);
}

.logo{
  animation: up 1s ease;
}
body{
  font-family: Ubuntu;
}
.title{
  position: relative;
}
header{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  gap: 2.5rem;
  animation: onload 0.5s ease-in-out;
}
nav{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.lined::before{
  content: '';
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  background-color: #97C680;
  z-index: -1;
  transition: 0.4s;
}
.updown{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  width: 96%;
}
.lined:hover::before{
height: 5px;
}
li{
  list-style: none;
  z-index: 999;
}
nav li:nth-child(1){
  animation: zoomin 1s ease;
}
nav li:nth-child(2){
  animation: zoomin 1.5s ease;
}
nav li:nth-child(3){
  animation: zoomin 2s ease;
}
nav li:nth-child(4){
  animation: zoomin 2.5s ease;
}
a{
  text-decoration: none;
  color: #000;
  position: relative;
  z-index: 99;
}
header .login .btn{
  padding: 10px 40px;
  border-radius:30px;
  border: none;
  font-weight: 600;
  min-width: 70px;
  text-align: center;
  color: #fff;
  background-color: #212121; 
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.btn::before{
  content: '';
  background-color: #97C680;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 1s;
}
.btn:hover::before{
  height: 100px;
}
.header{
  overflow: hidden;
  flex-grow: 0.5;
}
header .login{
  display:flex;
  gap: 1rem; 
  align-items: center;
  justify-content: center;
}
main{
  padding: 0 70px;
}
.main h1{
  font-size: 80px;
  margin: 0;
  overflow: hidden;
}

h1:nth-child(1){
  animation: up 1s ease;
}
h1:nth-child(2){
  animation: up 1.5s ease;
}
h1:nth-child(3){
  animation: up 1.8s ease;
}

.dot{
  display: inline-block;
  content: '';
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background-color: #000; 
}
.imgs{
  display: flex;
  gap: 1rem;
  flex: 2;
  justify-content: center;
}
.main{
  display: flex;
  align-items: center;
  gap: 10vw;
}
.img{
  border-radius:20px;
  position: relative;
  height: 470px;
  overflow: hidden;
  width: 40%;
  transition: 0.5s;
  cursor: pointer;
}
.img::before{
  content: ' ';
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  filter: blur(60px);
}
.img:nth-child(1){
  animation: zoomin 1s ease;
}
.img:nth-child(2){
  animation: zoomin 1.5s ease;
}
.img:nth-child(3){
  animation: zoomin 2s ease;
}
.img:hover{
  width: 100%;
}
.img:hover > .texts{
  opacity: 1;
}
.nine{
  transition: 0.5s;
}
.img:hover > .nine{
  opacity: 0;
}
.img img{
  width: 100%;
  object-fit: cover;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.texts{
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: 0.5s;
}
.texts p{
  text-align: center;
}
.texts h2{
  width: 10%;
  font-size: 20px;
}
.ninydeg{
  position: absolute;
  bottom: 30px;
  font-weight: 900;
  font-size: 30px;
  transform: rotate(-90deg);
  color: #fff;
  left: -20px;
  opacity: 1;
}

@media screen and (max-width: 1060px) {
  .lime{
    display: block;
    transform: translateX(0px);
    z-index: 99999;
    position: fixed;
    right: 10%;

  }
  nav{
    border-bottom: 1px solid ;
    padding-bottom: 20px;
    width: 100%;
  }
  .updown{
    transition: 0.6s;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 00px;
    overflow: hidden;
    background-color: #ececec;
    position: fixed;
    width: calc(100% - 60px);
    top: 0;
    z-index: 999;
    left: 0;
    box-shadow: 0 10px 10px #000000d6;
  }
  .box:checked ~ .updown{
    height: 300px;
    padding: 30px;
  }
  .updown nav{
    flex-direction: column;
  }
  .updown .login{
    width: 100%;
    justify-content: flex-start;
  }
}

@media screen and (max-width:990px){
  .texts{
    flex-direction: column;
    align-items: center;
  }
  .texts h2{
    width: 50%;
    height: 30px;
    text-align: center;
  }
}

@media screen and (max-width:950px) {
  .main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  main{
    padding: 0 20px;
  }
  .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ninydeg{
    display: none;
  }
  .texts{
    opacity: 1;
  }
  .img:hover{
    cursor: default;
    width: 40%;
  }
  .texts h2{
    width: 100%;
  }
  header{
    padding: 20px 20px;
  }
}