@font-face {
  font-family: Druk Wide;
  src: url("../font/Druk Wide Bold.ttf");
}
*{
  color: #fff;
  text-decoration: none;
  font-family: Druk Wide, helvetica,Arial, sans-serif;
}
body{
  background-color: hsl(29, 100%, 2%);
}
header{
  padding-top: 15px;
  padding-left: 64px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 60%;
}
nav li a{
  color: #fff;

  font-size: 12px;
  font-weight: lighter;
}
a.a3{
  white-space: nowrap;
}
nav.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
li{
  list-style: none;
}
.golden{
  position: absolute;
  right: 0;
  z-index: -1;
  overflow: hidden;
  width: 305px;
  height: 130px;
  top: 0;
  transition: opacity 0.5s;
}
.goldenimg{
  object-fit: cover;
}
